<aside class="sidebar fixed">
  <div class="brand-logo">
    <div id="logo">
      <div class="foot1"></div>
      <div class="foot2"></div>
      <div class="foot3"></div>
      <div class="foot4"></div>
    </div>
    City Ludens
  </div>
  <div class="user-logged-in">
    <div class="content">
      <div class="user-name"><%= user.google.name || user.facebook.name  || user.twitter.name %>
          <% if (user.admin) {%> <span class="text-muted f9">admin</span> <%}%>
      </div>
      <div class="user-email"><%= user.local.email || user.google.email || user.facebook.email  || user.twitter.email %></div>
      <div class="user-actions">
        <a class="m-r-5" href="/profile">settings</a> <a href="/logout">logout</a>
      </div>
    </div>
  </div>
  <ul ng-cloak>
    <a menu-link href="#/dashboard" icon="md md-blur-on">Dashboard</a>
    <li menu-toggle path="/apps" name="Bank" icon="md  md-account-balance">
      <a menu-link href="#/bank/recharge" name="BankRecharge">
        <span class="pull-right label label-primary">Featured!</span>
        Get City Coins !
      </a>
      <a menu-link href="#/bank/transactions" name="BankTransactions">
        <!--<span class="pull-right badge theme-primary-bg z-depth-0">9</span>-->
        Transactions
      </a>
      <a menu-link href="#/bank/transfers" name="BankTransfer">
        Transfer
      </a>
    </li>
    <li menu-toggle path="/places" name="Places" icon="md md-place">
      <a menu-link href="#/places/places">Manage places</a>
    </li>
    <li menu-toggle path="/forms" name="Forms" icon="md md-input">
      <a menu-link href="#/forms/basic">Basic forms</a>
      <a menu-link href="#/forms/advanced">Advanced elements</a>
      <a menu-link href="#/forms/validation">Validation</a>
    </li>
    <li menu-toggle path="/tables" name="Tables" icon="md md-list">
      <a menu-link href="#/tables/basic">Basic tables</a>
      <a menu-link href="#/tables/data">Data tables</a>
    </li>
    <li menu-toggle path="/maps" name="Maps" icon="md md-place">
      <a menu-link href="#/maps/full-map">Full map</a>
      <a menu-link href="#/maps/map-widgets">Map widgets</a>
      <a menu-link href="#/maps/vector-map">Vector map</a>
    </li>
    <a menu-link href="#/charts" icon="md md-insert-chart">Charts</a>
    <li menu-toggle path="/pages" name="Extra pages" icon="md md-favorite-outline">
      <a target="_blank" href="pages/login.html">Login</a>
      <a target="_blank" href="pages/404.html">404</a>
      <a target="_blank" href="pages/500.html">500</a>
      <a target="_blank" href="pages/material-bird.html">Easter Egg</a>
    </li>
  </ul>
</aside>
